{# This template is for configuring IOS Router Interfaces Only -#}
{# iterrate through the host_var *.yaml file. Refer to host_vars/README.md to get information about understanding the nested interation here. -#}
{% for iname, idata in interfaces.items() -%}
interface {{ iname }}
 description {{ idata .description }}
 {% if idata.vrfname %}
 vrf forwarding {{ idata.vrfname }}
 {% endif %}
 ip address {{ idata.ipv4addr }} {{ idata.ipv4mask }}
 no ip proxy-arp
 no ip redirect
 no shut
{% endfor %}