{# This template is a template for the iosxr_interface_ospf module#}
{% for iname, idata in interfaces.items() -%}
{% if idata.ospf_process_id and idata.ospf_area %}
{# I did this next like this for some reason it kept going into conf-if instead of config-ospf-ar-if #}
router ospf {{ idata.ospf_process_id }} area {{ idata.ospf_area }} interface {{ iname }}
  {% if  idata.ospf_make_passive  %}
  {# The logic is the opposite than IOS XR. You enable passive rather than disable#}
   passive enable
  {% endif %}
  {% if not  idata.ospf_make_passive  %}
  {# The logic is the opposite than IOS XR. You enable passive rather than disable#}
   passive disable
  {% endif %}
  {% if idata.ospf_network_type %}
   network {{idata.ospf_network_type }} 
  {% endif %}
{% endif %}
{% endfor %}
